body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: #DDEAE1;
}
.main-body{
    display:flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    background-color: #1a244e;
    width: 700px;
    height: 400px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    border-radius: 20px;

}

.cards{
    display:flex;
    flex-direction: column;
}
.names{
    color:white;
    font-size: 48px;
    font-family: 'Lucida Sans',Verdana, sans-serif;
    font-weight: bold;
}
.score{
    text-align: center;
    color:#ED4D6A;
    font-size: 80px;
    font-family: '60s Scoreboard', sans-serif;
    margin: 0;
}
.score-contain{
    background-color: black;
    border-radius: 20px;
}
.score-changer{
    display: flex;
}